.hide {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  /* -webkit-appearance: none; */
  border-radius: 0;
  border: none;
}

button {
  border: none;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: inherit;
  white-space: nowrap;
}
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

body, button, select, textarea {
  font-family: "DM Sans", "Courier New", Courier, monospace;
}

body {
  padding-top: 40px;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 1400px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  height: 90px;
  margin-bottom: 50px;
  padding: 0 100px;
}
.header__logo {
  height: 50px;
}
.header__title {
  font-size: 36px;
  color: #901C1C;
}
@media (max-width: 1400px) {
  .header {
    padding: 0 80px;
  }
}
@media (max-width: 1200px) {
  .header {
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 0 10px;
  }
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 11px;
  width: 170px;
  height: 70px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #901C1C;
  border-radius: 5px;
}
.btn:hover, .btn:focus {
  background-color: #D3573C;
  color: #000000;
}

.custom-select {
  position: relative;
  width: 170px;
}
.custom-select__items {
  position: absolute;
  background-color: #901C1C;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: calc(100% - 10px);
  left: 0;
  right: 0;
  z-index: 99;
}
.custom-select__items div, .custom-select__selected {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 20px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  border-top: 1px solid white;
  cursor: pointer;
}
.custom-select__items div:hover, .custom-select__selected:hover {
  background-color: #D3573C;
  color: #000;
}
.custom-select__items div:hover::after, .custom-select__selected:hover::after {
  color: #000;
}
.custom-select__selected {
  background-color: #901C1C;
  border-radius: 5px;
  padding: 18px 20px;
}
.custom-select__selected:after {
  position: absolute;
  content: "\f077";
  font-family: FontAwesome;
  color: #fff;
  top: 19px;
  right: 15px;
}
.custom-select__arrow-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.custom-select__arrow-active:after {
  content: "\f078";
}

.medias-form option, .medias-form select {
  width: 170px;
  font-size: 18px;
  background-color: #901C1C;
  color: #ffffff;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  border-radius: 5px;
  font-weight: bold;
  padding: 14px 20px;
  cursor: pointer;
}
.medias-form option:hover, .medias-form option:focus, .medias-form select:hover, .medias-form select:focus {
  background-color: #D3573C;
  color: #000;
}

.main__cards-container {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
}
.main__cards-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.main__cards-container .card__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex: 1;
}
.main__cards-container .card__image {
  display: block;
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.1);
}
.main__cards-container .card__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex: 1;
  margin: 20px 0 5px 0;
  color: #D3573C;
  font-size: 36px;
  text-align: center;
}
.main__cards-container .card__text-location {
  color: #901C1C;
  font-size: 16px;
}
.main__cards-container .card__text-tagline {
  font-size: 15px;
  text-align: center;
}
.main__cards-container .card__text-price {
  color: #757575;
  font-size: 14px;
}

.main .profile-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  background-color: #FAFAFA;
  height: 300px;
  padding: 0 100px;
}
@media (max-width: 1400px) {
  .main .profile-container {
    padding: 0 80px;
  }
}
@media (max-width: 1200px) {
  .main .profile-container {
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .main .profile-container {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: auto;
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .main .profile-container {
    padding: 40px 20px;
  }
}
@media (max-width: 576px) {
  .main .profile-container {
    padding: 40px 10px;
  }
}
.main .main-container {
  margin: 25px 0 55px 0;
  padding: 0 100px;
}
.main .main-container .medias-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
  padding: 20px 0;
}
@media (max-width: 1400px) {
  .main .main-container .medias-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992px) {
  .main .main-container .medias-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1400px) {
  .main .main-container {
    padding: 0 80px;
  }
}
@media (max-width: 1200px) {
  .main .main-container {
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .main .main-container {
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .main .main-container {
    padding: 0 20px;
  }
}
@media (max-width: 576px) {
  .main .main-container {
    padding: 0 10px;
  }
}
.main .snippet-container {
  position: fixed;
  bottom: 0;
  right: 36px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 21px 31px;
  background-color: #DB8876;
  font-size: 24px;
  font-weight: 600;
  border-radius: 5px 5px 0 0;
}
.main .snippet-container .fa-heart {
  font-size: 22px;
}

.profile__infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .profile__infos {
    align-items: center;
    text-align: center;
  }
}
.profile__name {
  color: #D3573C;
  font-size: 64px;
}
.profile__location {
  color: #901C1C;
  font-size: 24px;
}
.profile__tagline {
  color: #525252;
  font-size: 18px;
}
.profile__image {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.1);
}

.medias-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  justify-content: left;
}
.medias-form__label {
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 992px) {
  .medias-form {
    justify-content: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.card a {
  width: 100%;
}
.card__media {
  display: block;
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.card__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 24px;
  color: #901C1C;
}
.card__text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.card__likes {
  font: inherit;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  height: 800px;
  max-width: 600px;
  padding: 30px;
  margin: auto;
}
.modal__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.modal__header__close {
  cursor: pointer;
  height: 30px;
}
.modal__header__title {
  font-size: 50px;
  font-weight: normal;
}
.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
}
.modal__form label {
  color: #312E2E;
  font-size: 26px;
}
.modal__form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  align-items: flex-start;
  width: 100%;
}
.modal__form input {
  width: 100%;
  border-radius: 5px;
  font-size: 22px;
  padding: 10px;
}
.modal__form textarea {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  font-size: 22px;
  padding: 5px 10px;
  resize: none;
}
.modal__form__error {
  height: 16px;
  color: #b30606;
  font-size: 16px;
}
.modal__form .error {
  outline: 1px solid #e91818;
}

.lightbox {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}
.lightbox__content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 1400px;
  text-align: center;
}
.lightbox__content__prev, .lightbox__content__next {
  position: absolute;
  top: 50%;
  left: -50px;
  width: auto;
  padding: 10px;
  margin-top: -50px;
  color: #901C1C;
  font-weight: bold;
  font-size: 42px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.lightbox__content__prev:hover, .lightbox__content__prev:focus, .lightbox__content__next:hover, .lightbox__content__next:focus {
  color: #D3573C;
}
.lightbox__content__next {
  left: auto;
  right: -50px;
  border-radius: 3px 0 0 3px;
}
.lightbox__content__caption {
  text-align: left;
  padding: 6px 0 25px 0;
  color: #901C1C;
  font-size: 24px;
}
.lightbox__close {
  color: #901C1C;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 60px;
  font-weight: bold;
}
.lightbox__close:hover, .lightbox__close:focus {
  color: #D3573C;
  text-decoration: none;
}
.lightbox__slide {
  max-width: 100%;
  height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 5px;
  margin: auto;
}/*# sourceMappingURL=main.css.map */