.header {
    @include center-flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0 100px;

    &__logo {
        height: 50px;
    }

    &__title {
        font-size: 36px;
        color: #901C1C;
    }

    @include respond(xl) {
        padding: 0 80px;
    }

    @include respond(lg) {
        padding: 0 60px;
    }

    @include respond(md) {
        padding: 0 40px;
        flex-direction: column;
    }

    @include respond(sm) {
        padding: 0 20px;
    }

    @include respond(xs) {
        padding: 0 10px;
    }
}
