.main {
    .profile-container {
        @include center-flex(40px);
        justify-content: space-between;
        background-color: #FAFAFA;
        height: 300px;
        margin: 0 100px;
        padding: 0 40px;

        @include respond(xl) {
            margin: 0 80px;
            padding: 0 30px;
        }
    
        @include respond(lg) {
            margin: 0 60px;
        }
    
        @include respond(md) {
            margin: 0;
            padding: 40px;
            height: auto;
            flex-direction: column-reverse;
        }
    
        @include respond(sm) {
            padding: 40px 20px;
        }
    
        @include respond(xs) {
            padding: 40px 10px;
        }
    }

    .main-container {
        margin: 25px 0 55px 0;
        padding: 0 100px;

        .medias-container {
            @include grid-columns(3, 31%, 20px);
            justify-content: space-between;
            padding: 20px 0;

            @include respond(xl) {
                grid-template-columns: repeat(2, 49%);
            }

            @include respond(md) {
                grid-template-columns: 1fr;
            }
        }

        @include respond(xl) {
            padding: 0 80px;
        }

        @include respond(lg) {
            padding: 0 60px;
        }

        @include respond(md) {
            padding: 0 40px;
        }

        @include respond(sm) {
            padding: 0 20px;
        }

        @include respond(xs) {
            padding: 0 10px;
        }
    }

    .snippet-container {
        position: fixed;
        bottom: 0;
        right: 36px;
        z-index: 999;
        @include center-flex(70px);
        padding: 21px 31px;
        background-color: #DB8876;
        font-size: 24px;
        font-weight: 600;
        border-radius: 5px 5px 0 0;

        .fa-heart {
            font-size: 22px;
        }
    }
}

.profile {
    &__infos {
        @include center-flex-column(20px);
        align-items: flex-start;

        @include respond(md) {
            align-items: center;
            text-align: center;
        }
    }

    &__name {
        color: #D3573C;
        font-size: 64px;
    }

    &__location {
        color: #901C1C;
        font-size: 24px;
    }

    &__tagline {
        color: #525252;
        font-size: 18px;
    }

    &__image {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        object-fit: cover;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.1);
    }
}

.medias-form {
    @include center-flex(25px);
    justify-content: left;

    &__label {
        font-size: 18px;
        font-weight: 700;
    }

    @include respond(md) {
        justify-content: center;
    }
}

.card {
    @include center-flex-column(5px);
    justify-content: space-between;
    
    a {
        width: 100%;
    }

    &__media {
        display: block;
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
    }

    &__content {
        width: 100%;
        @include center-flex;
        justify-content: space-between;
        margin-top: 5px;
        font-size: 24px;
        color: #901C1C;
    }

    &__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 10px;
    }

    &__likes {
        font: inherit;
    }
}

.modal {
    @include position-fix-center;
    @include center-flex-column(20px);
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    width: 600px;
    padding: 30px;

    &__header {
        @include center-flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;

        &__close {
            cursor: pointer;
            height: 30px;
        }

        &__title {
            font-size: 50px;
            font-weight: normal;
        }
    }

    &__form {
        @include center-flex-column(10px);
        align-items: flex-start;
        width: 100%;

        label {
            color: #312E2E;
            font-size: 26px;
        }

        div {
            @include center-flex-column(5px);
            align-items: flex-start;
            width: 100%;
        }

        input {
            width: 100%;
            border-radius: 5px;
            font-size: 22px;
            padding: 10px;
        }

        textarea {
            width: 100%;
            height: 120px;
            border-radius: 5px;
            font-size: 22px;
            padding: 5px 10px;
            resize: none;
        }

        &__error {
            height: 16px;
            color: #b30606;
            font-size: 16px;
        }

        .error {
            outline: 1px solid #e91818;
        }
    }

    @include respond(sm) {
        width: 500px;
    }

    @include respond(xs) {
        width: 95%;
    }
}

.lightbox {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: white;

    &__content {
        position: relative;
        margin: auto;
        padding: 0;
        width: 80%;
        max-width: 1400px;
        text-align: center;

        &__prev, 
        &__next {
            position: absolute;
            top: 50%;
            left: -50px;
            width: auto;
            padding: 10px;
            margin-top: -50px;
            color: #901C1C;
            font-weight: bold;
            font-size: 42px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;

            &:hover,
            &:focus {
                color: #D3573C;
            }
        }

        &__next { // position "next" btn to the right
            left: auto;
            right: -50px;
            border-radius: 3px 0 0 3px;
        }

        &__caption {
            text-align: left;
            padding: 6px 0 25px 0;
            color: #901C1C;
            font-size: 24px;
        }
    }

    &__close {
        color: #901C1C;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 60px;
        font-weight: bold;

        &:hover, 
        &:focus {
            color: #D3573C;
            text-decoration: none;
        }
    }

    &__slide {
        max-width: 100%;
        height: 80vh;
        object-fit: contain;
        border-radius: 5px;
        margin: auto;
    }
}
