.main {
    .profile-container {
        @include center-flex;
        justify-content: space-between;
        background-color: #FAFAFA;
        height: 300px;
        margin: 0 100px;
        padding: 0 50px;
    }

    .main-container {
        padding: 10px 0;
        margin: 0 100px;

        .medias-container {
            @include grid-columns(3, 350px, 20px);
            justify-content: space-between;
            padding: 20px 0;
        }
    }

    .snippet-container {
        position: fixed;
        bottom: 0;
        right: 36px;
        z-index: 999;
        @include center-flex(70px);
        padding: 21px 31px;
        background-color: #DB8876;
        font-size: 24px;
        font-weight: 600;
        border-radius: 5px 5px 0 0;

        .fa-heart {
            font-size: 22px;
        }
    }
}

.profile {
    &__infos {
        @include center-flex-column(20px);
        align-items: flex-start;
    }

    &__name {
        color: #D3573C;
        font-size: 64px;
    }

    &__location {
        color: #901C1C;
        font-size: 24px;
    }

    &__tagline {
        color: #525252;
        font-size: 18px;
    }

    &__contact {
        @include center-flex;
        padding: 11px;
        width: 170px;
        height: 70px;
        font-size: 20px;
        font-weight: bold;
        color: white;
        background-color: #901C1C;
        border-radius: 5px;

        &:hover {
            background-color: #D3573C;
            color: #000000;
        }
    }

    &__image {
        height: 200px;
        width: 200px;
        border-radius: 100px;
        object-fit: cover;
        box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.1);
    }
}

.medias-form {
    @include center-flex(25px);
    justify-content: left;

    &__label {
        font-size: 18px;
        font-weight: 700;
    }

    .custom-select {
        position: relative;
        width: 170px;

        &__items {
            position: absolute;
            background-color: #901C1C;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            top: calc(100% - 10px);
            left: 0;
            right: 0;
            z-index: 99;
        }

        &__items div, &__selected {
            color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            padding: 14px 20px;
            border: 1px solid transparent;
            border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
            border-top: 1px solid white;
            cursor: pointer;

            &:hover {
                background-color: #D3573C;
                color: #000;

                &::after {
                    color: #000;
                }
            }
        }

        &__selected {
            background-color: #901C1C;
            border-radius: 5px;
            padding: 18px 20px;

            &:after {
                position: absolute;
                content:"\f077";
                font-family: FontAwesome;
                color: #fff;
                top: 19px;
                right: 15px;
            }
        }

        &__arrow-active {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &:after {
                content:"\f078";
            }
        }
    }
}

.card {
    &__media {
        display: block;
        height: 300px;
        width: 350px;
        object-fit: cover;
        border-radius: 5px;
    }

    &__content {
        width: 100%;
        @include center-flex;
        justify-content: space-between;
        margin-top: 5px;
        max-width: 350px;
        font-size: 24px;
        color: #901C1C;
    }

    &__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: 10px;
    }

    &__likes {
        font: inherit;
    }
}
